@import "tailwindcss";

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-robotoflex {
  font-family: "Roboto Flex", sans-serif;
}

.font-gothic {
  font-family: 'Special Gothic Expanded One', sans-serif;
}

.font-poppins{
  font-family: 'Poppins';
}

.font-nunito{
  font-family: 'Nunito';
}